html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

ul,
li{
    list-style: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Fira Sans', sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #fff;
    background-color: #171919;
    text-transform: uppercase;
}

a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    transform: scale(1);
    transition: all 300ms ease-in-out;
    &:hover{
        transform: scale(1.1);
    }
}

.headline-left {

    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 7px;
    text-transform: uppercase;
    display: inline-block;
    color: #ffffff;

    opacity: 0.5;
    position: relative;
    padding-left: 103px;

    &::before {
        position: absolute;
        content: '';
        background-color: #fff;
        width: 80px;
        height: 1px;
        left: 0px;
        top: 50%;
    }

}

.headline-right {

    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 7px;
    text-transform: uppercase;
    display: inline-block;
    color: #ffffff;
    opacity: 0.5;
    position: relative;
    padding-right: 103px;

    &::before {
        position: absolute;
        content: '';
        background-color: #fff;
        width: 62.4px;
        height: 1px;
        right: 33.6px;
        top: 50%;
    }
}

.container {
    max-width: 1920px;
    margin: 0 auto;
}

.title {
    span {
        font-size: 200px;
        color: rgba(#fff, 0.02);
        font-weight: 800;
        position: relative;
        transform: translateX(-50px);
        display: inline-block;
    }

    h3 {
        margin: 0;
        color: #fff;
        font-size: 80px;
        position: absolute;
        top: 0;
        right: -17px;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            width: 80px;
            height: 1px;
            background-color: $green;
        }
    }
}

.descr {
    display: inline-block;
    padding-left: 5px;

    &__head {
        font-weight: 800;
        font-size: 40px;

        span {
            font-weight: 100;
        }
    }
}

.subtitle {
    display: inline-block;
    text-align: right;

    &__head {
        font-weight: 800;
        font-size: 40px;
        padding-right: 10px;

        span {
            font-weight: 100;
        }
    }
}

.btn {
    font-weight: 800;
    font-size: 40px;
    line-height: 36px;
    transform: scale(1);
    transition: all 300ms ease-in-out;

    &:hover {
        transform: scale(1.1);
    }

    span {
        padding: 17px 57px 15px 17px;
        background-color: $green;
        display: inline-block;
        margin-left: 19px;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            width: 20px;
            height: 1px;
            background-color: white;
            top: 50%;
            left: -10px;
        }

        &::after {
            content: '';
            position: absolute;
            background-image: url(../img/arrows-right.svg);
            width: 25px;
            height: 21px;
            top: 50%;
            right: 17px;
            transform: translateY(-50%);
        }
    }
}

.surf,
.holder {
    padding: 160px 0 120px;
}

.holder {
    padding-bottom: 240px;
}

.quantity {
    display: inline-block;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

.quantity input {
    width: 45px;
    height: 42px;
    display: block;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 40px;
    line-height: 36px;
    font-weight: 800;
}

.quantity input:focus {
    outline: 0;
}

.quantity-nav {
    float: left;
    position: static;
    height: 42px;
}

.quantity-button {
    position: relative;
    cursor: pointer;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 45px;
}

.quantity-button.quantity-up {
    position: absolute;
    right: 0;
}

.quantity-button.quantity-down {
    position: absolute;
    right: 25px;
}


.star-list {
    li {
        display: inline-block;
        & + li{
            margin-left: -25px;
        }
        


    }
}
.menu-btn{
    cursor: pointer;
}